<h1>Listing zips</h1>

<table>
  <tr>
    <th>Zip</th>
    <th>Integer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zips.each do |zip| %>
  <tr>
    <td><%= zip.zip %></td>
    <td><%= zip.integer %></td>
    <td><%= link_to 'Show', zip %></td>
    <td><%= link_to 'Edit', edit_zip_path(zip) %></td>
    <td><%= link_to 'Destroy', zip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zip', new_zip_path %>
