<%= form_for [@user, @game] do |f| %>
  <div class = "field">
   <%= f.hidden_field :money, :value=> 500 %>
   <%=label_tag 'Is Manhattan an island?' %><br/>
   <%= radio_button_tag(:value, "true") %>
   <%= label_tag(:value_true, 'yes') %>
   <%= radio_button_tag(:value, "false") %>
   <%=label_tag(:value_false, "no") %>
   <%= f.submit "I would like 500 dollars!" %>
  </div>
<% end %>
