<div class="trivia"> Trivia!</div>
<div class="question">

<%= form_tag do %>
  <%=label_tag question %>
   <%= radio_button_tag(:value, "false") %>
   <%=label_tag(:value_false, "yes") %>
  <%= radio_button_tag(:value, "true") %>
  <%= label_tag(:value_true, "no") %>
  
<%end%>
</div>