<h2> You have <%=@game.money %> dollars </h2>


<p></p>
  <% your_zip = GameZip.find(@game.game_zip_id).zip%>
 <h1> You are playing as <%=your_zip %></h1>
 

<!--This will be moved to the form eventually. -->
 <h2> Your zipcode has the following features</h2>
  <%a = GameZip.where(:zip => your_zip).first %>

  <% @game.find_status %>
  <div class="card">
    <%= render partial: "buystatus", :locals=> { :items => @game.status_community_health_centers, :feature=> GameZip::FEATURES[0]}%>
    <div class = "elements">
      <ul>
        <% a.community_health_centers.each do |center| %>
        <%= render partial: "community_health_centers", locals: { center: center } %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class = "<%= @game.status_community_health_centers == 0 ? "buy" : "not_purchasable" %>"> 
        <button type = "buy"> Buy me for $500</button>
    </div>
  </div>
  
  <div class = "card-container">
    <%= render partial: "buystatus", locals: { items: @game.status_cultural_organizations, :feature=> GameZip::FEATURES[1]} %>
    <div class = "elements">
      <ul>
      <% a.cultural_organizations.each do |center| %>
        <li><%= center.organization_name %>
            <%= center.discipline_code %> </li>
      <% end %>
      </ul>
    </div>
    <div class = "<%= @game.status_cultural_organizations == 0 ? "buy" : "not_purchasable" %> "> 
      <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 500, :feature => "status_cultural_organizations")%>

    </div>
  </div>

  <div class = "card">
     <%= render partial: "buystatus", locals: { items: @game.status_licensed_businesses, :feature=> GameZip::FEATURES[2]} %>
    <div class = "elements">
      <ul>
        <%a.licensed_businesses.each do |business| %>
        <li><%= business.business_name.titleize%><br/>
            </li>
        <% end %>
      </ul>
    </div>
     <div class = "<%= @game.status_licensed_businesses == 0 ? "buy" : "not_purchasable" %> "> 
        <button type = "buy"> Buy me for $1000</button>
    </div>
  </div>

  <div class = "card">
    <%= render partial: "buystatus", locals: { items: @game.status_restaurants, :feature=> GameZip::FEATURES[3]} %>
    </div>
    <div class = "elements">
      <ul>
        <%a.restaurants.each do |place| %>
          <li><%=place.name.titleize %><br/>
            <%=place.cuisine.titleize %></li>
          <%end %>
      </ul>
    </div>
  </div>

<div class = "card">
   <%= render partial: "buystatus", locals: { items: @game.status_senior_centers, :feature=> GameZip::FEATURES[4]} %>
  <div class="elements">
    <ul>
     <% a.senior_centers.each do |center| %>
      <li><%= center.program_name.titleize %><br/>
      <%= center.program_address.titleize %></li>
    <%end %>
  </div>
</div>

  <div class = "card">
    <%= render partial: "buystatus", locals: { items: @game.status_volunteer_opportunities, :feature=> GameZip::FEATURES[5]} %>
    <div class = "elements">
      <ul>   
      <%a.volunteer_opportunities.each do |opportunity| %>
        <li><%= opportunity.title %><br/>
          <%= opportunity.org_title %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class = "card">
     <%= render partial: "buystatus", locals: { items: @game.status_youth_programs, :feature=> GameZip::FEATURES[6]} %>
    <div class = "elements" >
      <ul>
        <%a.youth_programs.each do |program| %>
          <li><%=program.agency %><br/>
              <%=program.grade_level_age_group %></li>
        <% end %>
      </ul>
    </div>
  </div>

 

<button>
  <%= link_to "Make some money!", edit_user_game_path(@user.id, @game.id) %>
</button>



