<h2> You have <%=@game.money %> dollars </h2>


<p></p>
  <% your_zip = GameZip.find(@game.game_zip_id).zip%>
 <h1> You are playing as <%=your_zip %></h1>
 

<!--This will be moved to the form eventually. -->
 <h2> Your zipcode has the following features</h2>
  <%a = GameZip.where(:zip => your_zip).first %>

  <% @game.find_status %>
  <div class="card">
    <%= render partial: "buystatus", locals: { items: @game.status_community_health_centers} %>
    <div class = "elements">
      <ul>
        <% a.community_health_centers.each do |center| %>
        <%= render partial: "community_health_centers", locals: { center: center } %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class = "<%= @game.status_community_health_centers == 0 ? "buy" : "not_purchasable" %>"> 
        <button type = "buy"> Buy me for $500</button>
    </div>
  </div>
  
  <div class = "card-container">
    <%= render partial: "buystatus", locals: { items: @game.status_cultural_organizations} %>
    <div class = "elements">
      <ul>
      <% a.cultural_organizations.each do |center| %>
        <li><%= center.organization_name %>
            <%= center.discipline_code %> </li>
      <% end %>
      </ul>
    </div>
    <div class = "<%= @game.status_cultural_organizations == 0 ? "buy" :"not_purchasable" %> "> 
        <button type = "buy"> Buy me for $1000</button>
    </div>
  </div>

  <div class = "card">
     <%= render partial: "buystatus", locals: { items: @game.status_licensed_businesses} %>
    <div class = "elements">
      <ul>
        <%a.licensed_businesses.each do |business| %>
        <li><%= business.business_name.titleize%></li>
        <% end %>
      </ul>
    </div>
     <div class = "<%= @game.status_licensed_businesses == 0 ? "buy" :"not_purchasable" %> "> 
        <button type = "buy"> Buy me for $1000</button>
    </div>
  </div>

  <div class = "card">
    <div class= "status">
      <% if @game.status_restaurants == 0 %>
        <%="You can buy restaurants" %>
      <% elsif @game.status_restaurants == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought restaurants"%>
      <%end %>
    </div>
    <div class = "elements">
      <ul>
        <%a.restaurants.each do |place| %>
          <li><%=place.name.titleize %>
            <%=place.cuisine.titleize %></li>
          <%end %>
      </ul>
    </div>
  </div>

<div class = "card">
  <div class = "status">
    <% if @game.status_senior_centers == 0 %>
      <%="You can buy senior centers" %>
    <% elsif @game.status_senior_centers == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought senior centers"%>
    <%end %>
  </div>
  <div class="elements">
    <ul>
     <% a.senior_centers.each do |center| %>
      <li><%= center.program_name.titleize %></li>
      <%= center.program_address.titleize %>
    <%end %>
  </div>
</div>

  <div class = "card">
    <div class= "status">
      <% if @game.status_volunteer_opportunities == 0 %>
        <%="You can buy volunteer opportunities" %>
      <% elsif @game.status_volunteer_opportunities == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought volunteer opportunities"%>
      <%end %>
    </div>
    <div class = "elements">
      <ul>   
      <%a.volunteer_opportunities.each do |opportunity| %>
        <li><%= opportunity.title %>
          <%= opportunity.org_title %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class = "card">
    <div class = "status">
      <% if @game.status_youth_programs == 0 %>
        <%="You can buy youth programs" %>
      <% elsif @game.status_youth_programs == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought youth programs"%>
      <%end %>
    </div>
    <div class = "elements" >
      <ul>
        <%a.youth_programs.each do |program| %>
          <li><%=program.agency %></li>
        <% end %>
      </ul>
    </div>
  </div>

 

<button>
  <%= link_to "Make some money!", edit_user_game_path(@user.id, @game.id) %>
</button>



