

<h2>Game_zip_id <%zip_id = @game.game_zip_id%><%=zip_id%></h2>
<h2>Game_id = <%= @game.id%></h2>
<h2>User_id is <%= @game.user_id%></h2>
<h2> You have <%=@game.money %> dollars </h2>
<h2> this is a test <%=@bool %> </h2>

<p></p>
 <h1> You are playing as <%=GameZip.find(zip_id).zip %></h1>
 <% your_zip = GameZip.find(zip_id).zip%>

<!--This will be moved to the form eventually. -->
 <h2> Your zipcode has the following features</h2>
  <%a = GameZip.where(:zip => your_zip).first %>

  <% @game.find_status %>

  <div class = "container">

  <div class = "row">
    <div class = "col-md-4">
      <% if @game.status_community_health_centers == 0 %>
        <%="You can buy community health centers" %>
      <% elsif @game.status_community_health_centers == 1 %>
        <%="Congrats! You bought community health centers!" %>
      <% else %>
        <%="This zip has no Community Health Centers" %>
      <%end %>
    </div>
    <div class = "col-md-8">
      <ul>
        <% a.community_health_centers.each do |center| %>
         <li> <%=center.name_of_center%>
        <% end %>
        </li>
      </ul>
  </div>
</div>
  
  <div class = "row">
  <div class = "col-md-4">
    <% if @game.status_cultural_organizations == 0 %>
      <%="You can buy cultural organizations" %>
    <% elsif @game.status_cultural_organizations == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought cultural organizations"%>
    <%end %>
  </div>
  <div class = "col-md-8">
    <ul>
    <% a.cultural_organizations.each do |center| %>
      <li><%= center.organization_name %>
          <%= center.discipline_code %> </li>
    <% end %>
  </ul>
  </div>
</div>

  <div class = "card">
    <div class = "status">
      <% if @game.status_licensed_businesses == 0 %>
        <%="You can buy licensed businesses" %>
      <% elsif @game.status_licensed_businesses == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought licensed businesses"%>
      <%end %>
    </div>
    <div class = "elements">
      <ul>
        <%a.licensed_businesses.each do |business| %>
        <li><%= business.business_name.titleize%></li>
        <% end %>
      </ul>

    </div>
  </div>

  <div class = "card">
    <div class= "status">
      <% if @game.status_restaurants == 0 %>
        <%="You can buy restaurants" %>
      <% elsif @game.status_restaurants == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought restaurants"%>
      <%end %>
    </div>
    <div class = "elements">
      <ul>
        <%a.restaurants.each do |place| %>
          <li><%=place.name.titleize %>
            <%=place.cuisine.titleize %></li>
          <%end %>
      </ul>
    </div>
  </div>

<div class = "card">
  <div class = "status">
    <% if @game.status_senior_centers == 0 %>
      <%="You can buy senior centers" %>
    <% elsif @game.status_senior_centers == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought senior centers"%>
    <%end %>
  </div>
  <div class="elements">
    <ul>
     <% a.senior_centers.each do |center| %>
      <li><%= center.program_name.titleize %></li>
      <%= center.program_address.titleize %>
    <%end %>
  </div>
</div>

  <div class = "card">
    <div class= "status">
      <% if @game.status_volunteer_opportunities == 0 %>
        <%="You can buy volunteer opportunities" %>
      <% elsif @game.status_volunteer_opportunities == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought volunteer opportunities"%>
      <%end %>
    </div>
    <div class = "elements">
      <ul>   
      <%a.volunteer_opportunities.each do |opportunity| %>
        <li><%= opportunity.title %>
          <%= opportunity.org_title %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class = "card">
    <div class = "status">
      <% if @game.status_youth_programs == 0 %>
        <%="You can buy youth programs" %>
      <% elsif @game.status_youth_programs == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought youth programs"%>
      <%end %>
    </div>
    <div class = "elements" >
      <ul>
        <%a.youth_programs.each do |program| %>
          <li><%=program.agency %></li>
        <% end %>
      </ul>
    </div>
  </div>

 

<button>
  <%= link_to "Make some money!", edit_user_game_path(@user.id, @game.id) %>
</button>



