

<h2>Game_zip_id <%zip_id = @game.game_zip_id%><%=zip_id%></h2>
<h2>Game_id = <%= @game.id%></h2>
<h2>User_id is <%= @game.user_id%></h2>

<p></p>
 <h1> You are playing as <%=GameZip.find(zip_id).zip %></h1>
 <% your_zip = GameZip.find(zip_id).zip%>

<!--This will be moved to the form eventually. -->
 <h2> Your zipcode has the following features</h2>
  <%a = GameZip.where(:zip => your_zip).first %>
  <%= a.senior_centers %>
  <%=@game.find_status %>
  <% @game.inspect %>
  <div class = "health centers status">
    <% if @game.status_community_health_centers == 0 %>
      <%="You can buy community health centers" %>
    <% elsif @game.status_community_health_centers == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bough community health centers!"%>
    <%end %>
  </div>
 

<button>
  <%= link_to "Make some money!", edit_user_game_path(@user.id, @game.id) %>
</button>

