<h2> You have <%=@game.money %> dollars </h2>


<p></p>
  <% your_zip = GameZip.find(@game.game_zip_id)%>
 <h1> You are playing as <%=your_zip.zip %></h1>
 

 <h2> Your zipcode has the following features</h2>

<div class="row">

  <div class= "col-md-4">
    <div class="card">
      <%= render partial: "buystatus", :locals=> { :items => @game.status_community_health_centers, :feature=> GameZip::FEATURES[0]}%>
      <div class = "elements">
        <ul>
          <% your_zip.community_health_centers.each do |center| %>
          <%= render partial: "community_health_centers", locals: { center: center } %>
          <% end %>
        </ul>
      </div>

      <div class = "<%= @game.status_community_health_centers == 0 ? "buy" : "not_purchasable" %>"> 
        <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 1000, :feature => "status_community_health_centers")%>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class = "card">
      <%= render partial: "buystatus", locals: { items: @game.status_cultural_organizations, :feature=> GameZip::FEATURES[1]} %>
      <div class = "elements">
        <ul>
          <% your_zip.cultural_organizations.each do |center| %>
          <%= render partial: "cultural_organizations", locals: { center: center} %>
          <% end %>
        </ul>
      </div>

      <div class = "<%= @game.status_cultural_organizations == 0 ? "buy" : "not_purchasable" %> "> 
      <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 1000, :feature => "status_cultural_organizations")%>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class = "card">
     <%= render partial: "buystatus", locals: { items: @game.status_licensed_businesses, :feature=> GameZip::FEATURES[2]} %>
      <div class = "elements">
        <ul>
          <%your_zip.licensed_businesses.each do |center| %>
          <%= render partial: "licensed_businesses", locals: {center: center} %>
         
          <% end %>
        </ul>
      </div>

     <div class = "<%= @game.status_licensed_businesses == 0 ? "buy" : "not_purchasable" %> "> 
        <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 1000, :feature => "status_licensed_businesses")%>
      </div>
    </div>
  </div>

</div>

<div clas="row">
  <div class="col-md-4" >
    <div class = "card">
      <%= render partial: "buystatus", locals: { items: @game.status_restaurants, :feature=> GameZip::FEATURES[3]} %>
      <div class = "elements">
        <ul>
          <%your_zip.restaurants.each do |place| %>
            <%=render partial: "restaurants", locals: {place: place} %>
            <%end %>
        </ul>
      </div>
      <div class = "<%= @game.status_restaurants == 0 ? "buy" : "not_purchasable" %> "> 
      <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 1000, :feature => "status_restaurants")%>
     </div>
    </div>
  </div>

<div class="col-md-4" >
  <div class = "card">
     <%= render partial: "buystatus", locals: { items: @game.status_senior_centers, :feature=> GameZip::FEATURES[4]} %>
    <div class="elements">
      <ul>
       <% your_zip.senior_centers.each do |center| %>
        <%= render partial: "senior_centers", locals: { center: center} %>
      <%end %>
      </ul>
    </div>

     <div class = "<%= @game.status_senior_centers == 0 ? "buy" : "not_purchasable" %> "> 
      <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 1000, :feature => "status_senior_centers")%>
     </div>
   </div>
 </div>

  <div class="col-md-4">
    <div class = "card">
      <%= render partial: "buystatus", locals: { items: @game.status_volunteer_opportunities, :feature=> GameZip::FEATURES[5]} %>
        <div class = "elements">
          <ul>   
          <%your_zip.volunteer_opportunities.each do |opportunity| %>
           <%=render partial: "volunteer", locals: {opportunity: opportunity } %>
          <% end %>
          </ul>
        </div>

       <div class = "<%= @game.status_volunteer_opportunities == 0 ? "buy" : "not_purchasable" %> "> 
        <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 1000, :feature => "status_volunteer_opportunities")%>
      </div>
    </div>
  </div>


      </div>
    </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class = "card">
       <%= render partial: "buystatus", locals: { items: @game.status_youth_programs, :feature=> GameZip::FEATURES[6]} %>
      <div class = "elements" >
        <ul>
          <%your_zip.youth_programs.each do |program| %>
            <%= render partial: "youth_programs", locals: { program: program} %>
          <% end %>
        </ul>
      <div class = "<%= @game.status_youth_programs == 0 ? "buy" : "not_purchasable" %> "> 
        <%= button_to "Buy me for $1000", user_game_purchase_path(@user, @game, :cost => 1000, :feature => "status_youth_programs")%>
      </div>
    </div>
</div>

 

<button>
  <%= link_to "Make some money!", edit_user_game_path(@user.id, @game.id) %>
</button>



