

<h2>Game_zip_id <%zip_id = @game.game_zip_id%><%=zip_id%></h2>
<h2>Game_id = <%= @game.id%></h2>
<h2>User_id is <%= @game.user_id%></h2>

<p></p>
 <h1> You are playing as <%=GameZip.find(zip_id).zip %></h1>
 <% your_zip = GameZip.find(zip_id).zip%>

<!--This will be moved to the form eventually. -->
 <h2> Your zipcode has the following features</h2>
  <%a = GameZip.where(:zip => your_zip).first %>

  <% @game.find_status %>

  <div class = "card">
    <div class = "health_centers">
      <% if @game.status_community_health_centers == 0 %>
        <%="You can buy community health centers" %>
      <% elsif @game.status_community_health_centers == -1 %>
        <%="This feature is not available in your zip code" %>
      <% else %>
        <%="Congrats! You bought community health centers!"%>
      <%end %>


    <div class = "health_centers_zip">
    </div>
  </div>
</div>
  
  <div class = "card">
  <div class = "cultural_organizations">
    <% if @game.status_cultural_organizations == 0 %>
      <%="You can buy cultural organizations" %>
    <% elsif @game.status_cultural_organizations == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought cultural organizations"%>
    <%end %>
  </div>
</div>

  <div class = "card">
  <div class = "licensed_businesses">
    <% if @game.status_licensed_businesses == 0 %>
      <%="You can buy licensed businesses" %>
    <% elsif @game.status_licensed_businesses == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought licensed businesses"%>
    <%end %>
  </div>
</div>

  <div class = "card">
  <div class= "restaurants">
    <% if @game.status_restaurants == 0 %>
      <%="You can buy restaurants" %>
    <% elsif @game.status_restaurants == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought restaurants"%>
    <%end %>
  </div>
</div>

<div class = "card">
  <div class = "senior_centers">
    <% if @game.status_senior_centers == 0 %>
      <%="You can buy senior centers" %>
    <% elsif @game.status_senior_centers == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought senior centers"%>
    <%end %>
  </div>
  <div class="show_senior_centers">
    <ul>
     <% a.senior_centers.each do |center| %>
      <li><%= center.program_name.titleize %></li>
      <%= center.program_address.titleize %>
    <%end %>
  </div>
</div>

  <div class= "volunteer_opportunities">
    <% if @game.status_volunteer_opportunities == 0 %>
      <%="You can buy volunteer opportunities" %>
    <% elsif @game.status_volunteer_opportunities == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought volunteer opportunities"%>
    <%end %>
  </div>

  <div class = "card">
  <div class = "youth programs">
    <% if @game.status_youth_programs == 0 %>
      <%="You can buy youth programs" %>
    <% elsif @game.status_youth_programs == -1 %>
      <%="This feature is not available in your zip code" %>
    <% else %>
      <%="Congrats! You bought youth programs"%>
    <%end %>
  </div>

</div>
 

<button>
  <%= link_to "Make some money!", edit_user_game_path(@user.id, @game.id) %>
</button>

