<%= form_for(@game_zip) do |f| %>
  <% if @game_zip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_zip.errors.count, "error") %> prohibited this game_zip from being saved:</h2>

      <ul>
      <% @game_zip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.text_field :timestamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
