
  <h1> Listings of NYC Zip Codes </h1>
<div class="gamezipindex">
  <div class="Bronx-zips">
    <h3>Bronx </h3>
    <% GameZip::BRONXZIPS.each do |zip| %>
      <%= link_to "#{zip}", game_zip_path(zip) %>
    <% end %>
  </div>

  <div class="Brooklyn-zips">
    <h3>Brooklyn </h3>
    <% GameZip::BROOKLYNZIPS.each do |zip| %>
      <%= link_to "#{zip}", game_zip_path(zip) %>
    <% end %>
  </div>

  <div class="Manhattan-zips">
    <h3>Manhattan </h3>
    <% GameZip::MANHATTANZIPS.each do |zip| %>
      <%= link_to "#{zip}", game_zip_path(zip) %>
    <% end %>
  </div>

  <div class="Queens-zips">
    <h3>Queens </h3>
    <% GameZip::QUEENSZIPS.each do |zip| %>
      <%= link_to "#{zip}", game_zip_path(zip) %>
    <% end %>
  </div>

  <div class="SI-zips">
    <h3>Staten Island </h3>
    <% GameZip::SIZIPS.each do |zip| %>
      <%= link_to "#{zip}", game_zip_path(zip) %>
    <% end %>
  </div>
</div>