<h1>Listing game_zips</h1>

<table>
  <tr>
    <th>Zip</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_zips.each do |game_zip| %>
  <tr>
    <td><%= game_zip.zip %></td>
    <td><%= game_zip.timestamp %></td>
    <td><%= link_to 'Show', game_zip %></td>
    <td><%= link_to 'Edit', edit_game_zip_path(game_zip) %></td>
    <td><%= link_to 'Destroy', game_zip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game zip', new_game_zip_path %>
