<p id="notice"><%= notice %></p>

<p>
  <b>Zip:</b>
  <%= @game_zip.zip %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @game_zip.timestamp %>
</p>


<%= link_to 'Edit', edit_game_zip_path(@game_zip) %> |
<%= link_to 'Back', game_zips_path %>
