%p#notice
  = notice

%h1
  ="Zip: #{@game_zip.zip}"

.row
  .col-md-4
    .card
      %h4 Cultural Organizations:
      .elements
        %ul 
        - if @game_zip.cultural_organizations.length == 0
          %li This zipcode has no registered Cultural Organizations
        - else 
          - @game_zip.cultural_organizations.each do |org|
            %li
              = "#{org.organization_name} is a #{org.discipline_code} organization."


  .col-md-4
    .card
      %h4 Community Health Centers:
      .elements
        %ul
        - if @game_zip.community_health_centers.length == 0
          %li Sorry, this zipcode has no registered Community Health Centers
        - else
          -@game_zip.community_health_centers.each do |center|
            %li
              = center.name_of_center


  .col-md-4
    .card
      %h4 Complaints:
      .elements
        %ul
        - if @game_zip.complaints.length == 0
          %li No complaints here!
        - else
          -@game_zip.complaints.each do |complaint|
            %li
              - location = " at #{complaint.incident_address}" unless complaint.incident_address.nil?
              = "#{complaint.descriptor}#{location}."
        
.row
  .col-md-4
    .card
      %h4 NYC StartUp Jobs:
      .elements
        %ul
        -if @game_zip.start_up_jobs.length == 0
          %li Looks like there are no NYC start up companies hiring here.
        -else
          -@game_zip.start_up_jobs.each do |job|
            %li
              = job.company_name
              = job.address
              = job.hiring

  .col-md-4
    .card 
      %h4 Good Restaurants:
      .elements
        %ul
        -if @game_zip.restaurants.length == 0
          Sucks for you, you're in a food desert!
        -else
          -@game_zip.restaurants.each do |restaurant|
            - if restaurant.current_grade == ("A"||"B")
              %li
                - n = "n" if restaurant.current_grade == "A"
                = "#{restaurant.name.titleize} at #{restaurant.street_address.titleize} is a#{n} #{restaurant.current_grade} restaurant."
        

  .col-md-4
    .card
      %h4 Less Good Restaurants:
      .elements
        %ul
        -@game_zip.restaurants.each do |restaurant|
          - if restaurant.violation != "boring"
            %li
              - n = "n" if restaurant.current_grade == "A"
              = "#{restaurant.name.titleize} at #{restaurant.street_address.titleize} is having problems with #{restaurant.violation}"

.row
  .col-md-4
    .card 
      %h4 Youth Programs:
      .elements
        %ul
        -if @game_zip.youth_programs.length == 0
          %li There aren't any youth programs in your zip code!
        -else
          -@game_zip.youth_programs.each do |item|
            %li
              = "#{item.agency} offers #{item.program} for #{item.grade_level_age_group} kids at #{item.address}."

  .col-md-4
    .card
      %h4 Licensed Businesses:
      .elements
        %ul
        -if @game_zip.licensed_businesses.length == 0
          %li How is this possible? A purely residential zip code?
        -else
          -@game_zip.licensed_businesses.each do |place|
            %li
              =place.business_name.titleize + ","
              =place.industry.titleize


  .col-md-4
    .card 
      %h4 Volunteer Opportunties:
      .elements
        %ul
        -if @game_zip.volunteer_opportunities.length == 0
          %li None here
        -else
          -@game_zip.volunteer_opportunities.each do |opportunity|
            %li
              ="#{opportunity.title} with #{opportunity.org_title} at #{opportunity.address}."

.row
  .col-md-4
    .card
      %h4 Senior Centers:
      .elements
        %ul
        -if @game_zip.senior_centers.length == 0
          %li None
        -else
          -@game_zip.senior_centers.each do |center|
            %li
              ="#{center.sponsor_name.titleize} runs the #{center.program_name.titleize}."



      
    




-# = link_to 'Edit', edit_game_zip_path(@game_zip)
-# = link_to 'Back', game_zips_path