<!DOCTYPE html>
<html>
<head>
  <title>MapGame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <section> 
       <p>Brooklyn<br>
      	Queens<br>
      	Manhattan<br> 
      	Staten Island <br>
      	Bronx <br> </p>
      </section>
    </div>
   
<%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      
<%= javascript_include_tag "application" %>
</body>
</html>


